.about{
    display: flex;
    width: 100% ;
    background-color: #534981;
    height: 624px;
    margin-top: 350px;
    margin-bottom: 0px ;
    margin-right: 0px ;
    margin-left: 0px ;
        
    

} 



.about-img{
    background-color: aqua;
     height: 623px; 
     width: 960px;
     background-image: linear-gradient(
     to bottom, 
     rgba(83, 73, 129, 0.5),
     rgba(83, 73, 129, 0.5)
     ),
     url(../images/Hero.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     
}

.about-con{
     height: 623px; 
     width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     #about-head{
            color: white;
            font-family: LM;
            font-size: 50px;
            position: absolute;
            top: 900px;
            left: 850px;
        }

    #about-para{
            color: white;
            font-family: LM;
            width: 688px;
            height: 195px;
            font-size: 15px;
            margin-right: 100px;
        }

    #about-button{
        width: 234px;
        height: 79px;
        border-radius: 38px;
        background-color: #F48026;
        border-color: #F48026;
        color: white;
        font-family: LM;
        margin-left: 350px;
    }
}

